@inject ICategoryService _categoryService

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Noerlund.Ui</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">


    @if (CategoryList == null)
    {
        <p><em>>Loading....</em></p>
    }
    else
    {
        <ul class="Nav flex-column">
            <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            </li>
            @foreach (var categ in CategoryList)
            {
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href=@($"Categories/{categ.CategoryName}")>
                        <span class="oi oi-list-rich" aria-hidden="true"></span>@categ.CategoryName
                    </NavLink>

                </li>
            }
        </ul>
    }


</div>

@code {
    private bool collapseNavMenu = true;

    private Guid categoryGuid { get; set; }

    public List<CategoryModel> CategoryList { get; set; }

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        CategoryList = (await _categoryService.GetAllCategories()).ToList();
    }
}
