@page "/Categories"
@page "/Categories/{NameOfCategory}"
@inject ICategoryService _categoryService
@inject IProductService _productService
@inject NavigationManager NavigationManager

<h3>@categoryModel.CategoryName</h3>

@if (ProductList == null)
{
    <span>Loading...</span>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Pris</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody >
        @foreach (var prod in ProductList)
        {
            <tr>
                <td>@prod.ProductName</td>
                <td>@prod.Price</td>
                <td>@prod.Description</td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => ShowEditProduct(prod.ProductName, categoryModel.CategoryName))"><i class="oi oi-pencil"></i></button>
                </td>
            </tr>
        }
        <td>
            <button class="btn btn-primary" @onclick="(() => ShowCreateProduct(categoryModel.CategoryName))"><i class="oi oi-action-redo"></i></button>
        </td>
        </tbody>
    </table>

}

@code {
    [Parameter]
    public string NameOfCategory { get; set; }

    public List<CategoryModel> CategoryList { get; set; }

    public List<ProductModel> ProductList { get; set; }

    CategoryModel categoryModel = new CategoryModel();

    protected override async Task OnInitializedAsync()
    {
        CategoryList = (await _categoryService.GetAllCategories()).ToList();
        foreach (var cat in CategoryList)
        {
            if (NameOfCategory == cat.CategoryName)
            {
                categoryModel = cat;
            }
        }

        ProductList = (await _productService.GetAllProductsByCategory(categoryModel.CategoryId));

    }

    void ShowEditProduct( string prodname, string categoryName)
    {
        NavigationManager.NavigateTo($"/productedit/{prodname}/{categoryName}");
    }

    void ShowCreateProduct(string CategoryName)
    {
        NavigationManager.NavigateTo($"/CreateProduct/{CategoryName}");
    }

}
